.p-widget-content {
  background: #ffffff;
  color: #222222;
}

.p-widget {
  font-size: 13px !important;
  padding: .25em .5em;
}

.p-widget-header .p-button, .p-widget-content .p-button, .p-widget.p-button, .p-button {
  background: #e9ecef !important;
  border-color: #e9ecef !important;

  &.p-highlight {
    border: 1px solid #ced4da !important;
    background: #fafafa !important;
    color: #1f89ce !important;
  }
}

.p-checkbox {
  width: 25px;
  height: unset;
  margin-right: 10px;

  .p-checkbox-box {
    height: 16px;
    margin-left: 10px;
    position: relative;

    .p-checkbox-icon {
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  + .p-checkbox-label {
    font-size: 15px !important;
    margin: 0 !important;
  }
}

.p-radiobutton-box {
  width: 14px !important;
  height: 14px !important;
  padding: 0 !important;
  line-height: 1.25;
  font-size: 12px !important;

  &.p-highlight {
    border: 1px solid #ced4da !important;
    background: #fafafa !important;
    color: #1f89ce !important;
  }

  .p-radiobutton-icon {
    background-color: #2196f3 !important;
    font-size: 11px !important;
    margin: 0 !important;
  }
}

.p-radiobutton-label {
  font-size: 13px;
  margin: 0 !important;
}

.p-button:focus {
  box-shadow: none !important;
}

.p-datatable {
  border: 1px solid #e9ecef;

  .p-datatable-thead {
    tr {
      th {
        padding: 6px 10px !important;
      }
    }
  }

  .p-datatable-tbody {
    tr {
      td {
        padding: 6px 10px !important;
      }
    }
  }
}

.p-paginator {
  .p-paginator-current {
    margin-left: auto;
  }

  .p-paginator-pages {
    .p-paginator-page {
      height: 20px;
      font-size: 14px;
    }
  }
}
